<div class='row'>

	<div class='col-md-6'>
		<h2>Categories</h2>
		<% @results[:categories].each do | category | %>
			<%= link_to category.name, quotes_by_tag_name_path(category.name) %> <br />
		<% end %>

	</div>

	<div class='col-md-6'>
		<h2>Authors</h2>
		<% @results[:authors].each do | author | %>
			<%= link_to author.name, quotes_by_author_name_path(author) %> <br />
		<% end %>
	</div>
	
</div>


